    .progress {
      height: 1.5rem;
    }

    .chart {
      width: 100%;
      height: 500px;
    }

    #countriesSelect {
      z-index: 1001;
      height: 500px;
    }

    #showSidePanel {
      display: none;
      z-index: 1002;
    }

    #showLinePanel {
        display: none; 
      }

    #countriesSelect ul li {
      cursor: pointer;
    }
    #chartLine ul li {
      cursor: pointer;
    }

    .ic-sm {
      font-size: 18px;
    }

    .btn-indigo {
      color: #fff;
      background-color: #6610f2;
      border-color: #6610f2;
    }

    .btn-indigo:hover {
      color: #fff;
      background-color: #590bd9;
      border-color: #590bd9;
    }

    .btn-indigo:focus {
      background-color: #4a1a99;
      border-color: #4a1a99;
    }

    .btn-indigo:focus,
    .btn-indigo.focus {
      color: #fff;
      box-shadow: 0 0 0 0.2rem rgba(79, 13, 186, 0.5);
    }

    .btn-indigo:active {
      color: #fff;
      background-color: #4a1a99;
      border-color: #4a1a99;
    }

    .bg-no-data {
      background-color: #eee;
    }

    .bg-n1 {
      background-color: #34ebc0;
    }

    .bg-n2 {
      background-color: #34aeeb;
    }

    .bg-n3 {
      background-color: #34d3eb;
    }

    .bg-n4 {
      background-color: #346beb;
    }

    .bg-n5 {
      background-color: #3437eb;
    }

    .bg-n6 {
      background-color: #9934eb;
    }

    .bg-citizen-1 {
      background-color: #b7c6da;
    }

    .bg-citizen-2 {
      background-color: #92a8c2;
    }

    .bg-citizen-3 {
      background-color: #7c98b8;
    }

    .bg-citizen-4 {
      background-color: #698db5;
    }

    .bg-citizen-5 {
      background-color: #4f81b8;
    }

    .bg-citizen-6 {
      background-color: #3576bd;
    }

    .bg-citizen-7 {
      background-color: #1768bf;
    }

    .bg-citizen-8 {
      background-color: #0062cc;
    }

    .bg-citizen-9 {
      background-color: #006ee6;
    }

    .bg-citizen-10 {
      background-color: #007bff;
    }
    .bg-country-1 {
      background-color: #d7cde6;
    }

    .bg-country-2 {
      background-color: #c5b4e0;
    }

    .bg-country-3 {
      background-color: #b39bd6;
    }

    .bg-country-4 {
      background-color: #a88ad8;
    }

    .bg-country-5 {
      background-color: #9a72da;
    }

    .bg-country-6 {
      background-color: #835ac5;
    }

    .bg-country-7 {
      background-color: #7543c4;
    }

    .bg-country-8 {
      background-color: #6928d1;
    }

    .bg-country-9 {
      background-color: #5e14d4;
    }

    .bg-country-10 {
      background-color: #5208c9;
    }
    .bg-area-1 {
      background-color: #dee5e6;
    }

    .bg-area-2 {
      background-color: #bcdde2;
    }

    .bg-area-3 {
      background-color: #8bd1db;
    }

    .bg-area-4 {
      background-color: #7dcfdb;
    }

    .bg-area-5 {
      background-color: #6ac5d3;
    }

    .bg-area-6 {
      background-color: #53bccc;
    }

    .bg-area-7 {
      background-color: #3aaec0;
    }

    .bg-area-8 {
      background-color: #269eb1;
    }

    .bg-area-9 {
      background-color: #1390a3;
    }

    .bg-area-10 {
      background-color: #028599;
    }


    .radar {
      height: 400px;
    }

    small {
      font-size: 60%
    }
    #resetCountries{top:0.5em;right:0.5em;}

    #processingProgress{width:100%;height:100%;background:rgba(0, 0, 0, 0.7);position:fixed;z-index:1099}